.credential {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 255, 255, 0.671);
}

.service {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 1fr auto auto;
  grid-auto-flow: column;

  /* text-align: left; */
  font-size: 1.4rem;

  /* color: var(--text-color) */

  /* color: #406163; */
}

.password {
  display: none;
}

.delete,
.show {
  background: none;
  border: none;
}

.delete img,
.show img,
.key {
  width: 1.3em;
}

.credential:hover {
  background: rgba(109, 206, 177, 0.39);
}

.delete img:hover,
.show img:hover {
  transform: scale(1.1);
  transition: all 250ms ease-in-out;
}
