.credential {
  list-style: none;
  width: 30em;
  height: 10em;
  margin: 1em 0;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.2);
}

.service {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 1fr auto auto;
}

.delete,
.show {
  background: none;
  border: none;
}

.password {
  /* display: none; */
}
